*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1210px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* plus-jakarta-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/plus-jakarta-sans-v8-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/plus-jakarta-sans-v8-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body {
  font-family: font-family "Plus Jakarta Sans";
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

h1,
h2,
h3 {
  color: #030303;
  font-family: font-family "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  color: #7a746e;
  font-family: font-family "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  color: #030303;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.black-btn {
  border-radius: 28px;
  background: #030303;
  padding: 14px 45px;
  color: #fff7f0;
  font-family: font-family "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  border: none;
}

.black-btn:hover {
  background: #755cde;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  cursor: -webkit-grab;
  cursor: grab;
}

.black-btn:active {
  opacity: 0.7;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.red-btn {
  border-radius: 28px;
  background: #eb7565;
  color: #fff7f0;
  font-family: font-family "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  width: 228px;
  height: 56px;
  padding: 14px 45px;
  border: none;
}

.red-btn:hover {
  background-color: #f6a560;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  cursor: -webkit-grab;
  cursor: grab;
}

.red-btn:active {
  opacity: 0.7;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.link {
  text-align: center;
  margin-bottom: 88px;
}

.link:hover {
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.link:active {
  opacity: 0.5;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container {
  padding-top: 3.8rem;
  padding-bottom: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top__content {
  margin-right: auto;
  margin-left: auto;
}

.top__content__container {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.top__content__title {
  margin-bottom: 23px;
}

.top__content__description {
  width: 730px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.one__world__div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all__div__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.one__group__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.two__brother__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.two__group__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.alone__grid__image {
  padding: 24px;
}

.grid__group__image__2 {
  padding-left: 24px;
  padding-right: 25px;
}

.grid__group__image__1 {
  padding-right: 24px;
}

.grid__group__image__one {
  padding-bottom: 24px;
}

.top__content__description {
  margin-bottom: 64px;
}

@media screen and (max-width: 1190px) {
  .all__div__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .two__group__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .grid__group {
    height: 182px;
    border-radius: 8px;
  }
  .grid__group__image__one {
    padding-right: 24px;
  }
  .container {
    max-width: 768px;
    padding-left: 40px;
  }
  .grid__group__image__2 img {
    width: 155px;
    border-radius: 8px;
  }
  .grid__group__image__1 img {
    width: 155px;
    border-radius: 8px;
  }
  .alone__grid__img {
    width: 333px;
    border-radius: 8px;
  }
  .grid__group {
    width: 333px;
    border-radius: 8px;
  }
  .grid__group__image__2 {
    padding-right: 23px;
  }
  .granny__photo {
    width: 364px;
    height: 364px;
  }
  .three__section__title {
    max-width: 339px;
    width: 100%;
  }
  .three__section__description {
    max-width: 339px;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .three__section__wrapper {
    margin-top: 120px !important;
    padding-right: 20px !important;
  }
  .four__section {
    width: 690px;
    height: 352px;
    text-align: center;
  }
  .content {
    padding-right: 0 !important;
  }
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-left: 0;
  }
  .description {
    margin-bottom: 26px !important;
  }
  .title {
    margin-top: 56px !important;
  }
}
@media screen and (max-width: 810px) {
  .header__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__image {
    width: 48px;
    height: 48px;
  }
  .big__top__image {
    width: 343px;
    height: 364px;
    border-radius: 8px;
  }
  .container {
    width: 375px;
    padding-right: 16px;
    padding-left: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .all__div__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .two__group__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .one__group__div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .black-btn,
  .red-btn {
    width: 176px;
    height: 44px;
    padding: 0;
  }
  .small__image {
    width: 159px;
  }
  .grid__group__image__2 {
    padding-right: 25px;
  }
  .grid__group__2 {
    width: 333px;
    border-radius: 8px;
  }
  .ona__big__image__div {
    padding-bottom: 24px;
  }
  .grid__group__image__one {
    padding-right: 0;
  }
  .three__section__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-top: 100px !important;
  }
  .three__section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .three__section__image {
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    margin-bottom: 40px;
  }
  .granny__photo {
    width: 300px;
    height: 300px;
  }
  .three__section__image {
    padding-right: 0px !important;
  }
  .four__section {
    width: 343px !important;
    height: 352px;
  }
  .description {
    width: 295px !important;
  }
  .flex {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .title {
    margin-top: 24px !important;
  }
  .content {
    padding-right: 0px !important;
  }
  .flex {
    padding-left: 0 !important;
  }
  .red-btn {
    width: 176px;
    height: 44px;
  }
}
.three__section__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 136px;
  margin-bottom: 88px;
}

.three__section__image {
  padding-right: 30px;
}

.three__section__title {
  width: 540px;
}

.three__section__description {
  width: 540px;
  margin-top: 34px;
  margin-bottom: 32px;
}

.three__section__content {
  padding: 0;
}

.three__section__bottom__title {
  color: #030303;
  font-family: font-family "Plus Jakarta Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-bottom: 52px;
}

.scrollport {
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 56px;
}

.padding__image {
  margin-left: 10px;
}

.four__section {
  width: 1110px;
  height: 320px;
  border-radius: 10px;
  background: #030303;
  margin-bottom: 52px;
}

.content {
  padding-right: 138px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 65px;
  margin-top: 81px;
}

.title {
  margin-bottom: 25px;
  margin-top: 81px;
  color: #fff7f0;
}

.description {
  width: 540px;
  margin-bottom: 80px;
  color: #fff7f0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}