// COLORS
$galactic-blue-color: #755cde;
$summer-yellow-color: #f6a560;
$pink-color: #f39e9e;
$light-red-color: #eb7565;
$cyan-color: #61c4b7;
$dark-pink-color: #552049;
$black-color: #030303;
$medium-brown-color: #7a746e;
$light-cream-color: #fff7f0;
// FONTS
$font-family: font-family "Plus Jakarta Sans";
